@using MyCMS.DataLayer.Dto.Categuries
@model List<CateguryPageCountDto>

<div class="container">
    <h3 class="text-center">لیست کاربران</h3>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="info">
                <th>ردیف</th>
                <th>نام دسته بندی</th>
                <th> تعداد خبرها </th>

                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@item.CateguryTitle</td>
                    <td>@item.PageCount</td>

                    <td>
                        <a asp-action="EditCategury" asp-route-categuryId="@item.Id" class="btn btn-xs btn-info">ویرایش</a>
                        <a asp-action="DeleteCategury" asp-route-categuryId="@item.Id" class="btn btn-xs btn-danger">حذف</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    @if (ViewBag.Count > 1)
    {
        <nav aria-label="...">
            <ul class="pagination">
                @if (ViewBag.Previous >= 1)
                {

                    <li class="page-item">
                        <a class="page-link" class="page-link" asp-area="Admin" asp-controller="Categury" asp-action="CateguryList" asp-route-PageNum=@ViewBag.Previous>Previous</a>
                    </li>

                }
                @for (int i = 1; i <= ViewBag.Count; i++)
                {
                    if (i == ViewBag.PageNum)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-area="Admin" asp-controller="Categury" asp-action="CateguryList" asp-route-PageNum="@i">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-area="Admin" asp-controller="Categury" asp-action="CateguryList" asp-route-PageNum="@i">@i</a></li>
                    }

                }

                @if (ViewBag.Next <= ViewBag.Count)
                {
                    <li class="page-item">
                        <a class="page-link" class="page-link" asp-area="Admin" asp-controller="Categury" asp-action="CateguryList" asp-route-PageNum="@ViewBag.Next">Next</a>
                    </li>
                }

            </ul>
        </nav>
    }
</div>
